[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "theme/hugo-resume"]
	path = theme/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume
[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
